<!-- <div class="flex overflow-x-auto h-20">
  <ul class="flex h-6 relative top-8">
    <li *ngFor="let spacing of spacings; let i = index" class="relative block">
      <div class="block bottom-0 absolute border-r border-warning-500" [ngClass]="i % 2 ? 'h-4':'h-8'"
        [style.left]="getSpacingProperty(spacing)">
        <div class="absolute" [ngClass]="i % 2 ? 'top-4':'bottom-8'">
          {{ spacing.attributes.type }}
        </div>
      </div>
    </li>
  </ul>
</div> -->

<div class="block overflow-x-auto overflow-y-hidden">
  <div class="grid grid-cols-3 md:grid-temp-cols-4 gap-2 items-baseline">
    <div class="text-left font-semibold">Name</div>
    <div class="text-left font-semibold">Size</div>
    <div class="text-left font-semibold whitespace-nowrap">CSS Custom Property</div>
    <div class="text-left font-semibold col-span-3 h-0 invisible md:visible md:h-auto md:col-auto">Preview</div>
    <ng-container *ngFor="let spacing of spacings; let i = index">
      <div class="font-semibold relative">
        <div class="bg-primary-100 h-full absolute top-0 md:hidden z-0" [style.width]="getSpacingProperty(spacing)"></div>
        <div class="z-0 relative">{{ spacing.attributes.type }}</div>
      </div>
      <div [ngClass]="spacing.value === '1rem' ? 'font-bold' : ''" class="text-sm z-0">{{ spacing.value }} / {{ getPixelValue(spacing.value) }}px</div>
      <div class="text-xs whitespace-nowrap z-0">--{{ spacing.name }}</div>
      <div class="text-sm col-span-3 hidden md:block md:col-auto">
        <div class="text-xs bg-primary-100 h-3" [style.width]="getSpacingProperty(spacing)"></div>
      </div>
    </ng-container>
  </div>
</div>
