<h2 class="mt-4 mb-3 uppercase text-2xl font-light text-primary-500">Color Palette</h2>
<ul class="font-sans flex flex-col overflow-x-auto pb-6 ">
  <li class="flex mt-4">
    <div class="flex bg-gray-100 sticky left-0 items-center justify-center">
      <div class="px-2 text-sm text-gray-400 w-20 flex-shrink-0">hue</div>
    </div>
    <ul class="flex ml-4">
      <li class="flex mr-2" *ngFor="let hue of getHueValues()">
        <div class="flex items-center justify-center w-8 h-8 text-sm text-gray-400">
          {{ hue.attributes.item }}
        </div>
      </li>
    </ul>
  </li>
  <li class="flex mt-4" *ngFor="let color of colors">
    <div class="flex bg-gray-100 sticky left-0 items-center">
      <div class="px-2 text-sm text-gray-400 w-20 flex-shrink-0">{{ color[0].attributes.type }}</div>
    </div>
    <ul class="flex ml-4">
      <li class="flex mr-2" *ngFor="let hue of color">
        <div
          title="Hue: {{ hue.attributes.item }} / RGB Value: {{ hue.value }}"
          class="flex w-8 h-8 rounded-full bg-{{ hue.attributes.type }}-{{ hue.attributes.item }}">
        </div>
      </li>
    </ul>
  </li>
</ul>

<h2 class="mt-8 mb-6 uppercase text-2xl font-light text-primary-500">Spacings</h2>
