<h2 class="mt-4 font-bold">Color Palette</h2>
<ul>
  <li class="flex mt-4 items-center" *ngFor="let colorKey of colorKeys">
    <div class="text-sm opacity-50 w-16">{{ colorKey }}</div>
    <ul class="flex">
      <li class="flex mr-2" *ngFor="let colorHue of colorHues">
        <div
          title="Hue: {{ colorHue[0] }} / RGB Value: {{ colorHue[1].value }}"
          class="rounded flex w-8 h-8 bg-{{colorHue[1].attributes.type}}-{{colorHue[1].attributes.item}}">
        </div>
      </li>
    </ul>
  </li>
</ul>
