# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/build
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# assets
src/assets/styles/tokensModule.js

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# storybook
documentation.json
src/stories/button.component.ts
src/stories/button.css
src/stories/Button.stories.ts
src/stories/header.component.ts
src/stories/header.css
src/stories/Header.stories.ts
src/stories/Introduction.stories.mdx
src/stories/page.component.ts
src/stories/page.css
src/stories/Page.stories.ts
src/stories/User.ts
src/stories/assets/code-brackets.svg
src/stories/assets/colors.svg
src/stories/assets/comments.svg
src/stories/assets/direction.svg
src/stories/assets/flow.svg
src/stories/assets/plugin.svg
src/stories/assets/repo.svg
src/stories/assets/stackalt.svg
