<ng-container *ngFor="let family of families; let i = index">
  <h3 id="{{ family.attributes.item }}" class="scroll-mt-8 pt-1 mt-3 pb-2 sticky top-8 bg-gray-100 z-10">{{ family.attributes.item }}</h3>
  <!-- <p class="mb-2">{{ family.value }}</p> -->
  <ul class="grid auto-rows-fr grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-2 leading-none">
    <li *ngFor="let weight of weights; let j = index"
      class="w-full min-h-16 flex flex-col justify-between p-2 border border-gray-300 rounded-md">
      <div class="text-sm font-semibold flex justify-between align-baseline">
        <span>{{ weight.attributes.item }}<span class="text-sm font-normal"> {{ weight.value }}</span></span>
        <span class="text-xs font-normal">--{{ weight.name }}</span>
      </div>
      <div [style.fontWeight]="getWeightProperty(weight)"
      [style.fontFamily]="getFamilyProperty(family)" class="text-4xl">Aa</div>
    </li>
  </ul>
</ng-container>
<h3 id="size" class="scroll-mt-8 pt-1 mt-3 pb-2 sticky top-8 bg-gray-100 z-10">Size</h3>
<!-- <ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 2xl:grid-cols-7 gap-2">
  <li *ngFor="let size of sizes; let i = index"
    class="w-full flex flex-col justify-end px-2 py-1 h-24 border border-gray-300 rounded-md">
    <div [style.fontSize]="getSizeProperty(size)" class="leading-none">Aa</div>
    <div class="text-xs">{{ size.attributes.item }} {{ size.value }}</div>
  </li>
</ul> -->
<!-- <ul class="grid auto-rows-fr grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-5 gap-2">
  <li *ngFor="let size of sizes; let i = index"
    class="w-full h-full flex flex-wrap p-2 border border-gray-300 rounded-md items-stretch">
    <div class="w-full text-sm font-semibold flex flex-grow">
      <span>{{ size.attributes.item }}<span class="text-sm font-normal">: {{ size.value }}</span></span>
      <span class="text-xs font-normal">--{{ size.name }}</span>
    </div>
    <div [style.fontSize]="getSizeProperty(size)" class="self-end pt-2"><span class="leading-none align-baseline">Aa</span></div>
  </li>
</ul> -->
<ul class="grid auto-rows-fr grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-2">
  <li *ngFor="let size of sizes; let i = index"
    class="w-full flex flex-col justify-between px-2 py-1 border border-gray-300 rounded-md">
    <div [style.fontSize]="getSizeProperty(size)" class="leading-none">Aa</div>
    <div class="text-sm font-semibold flex justify-between align-baseline pt-2">
      <span>{{ size.attributes.item }}<span [ngClass]="size.value === '1rem' ? 'font-bold' : ''" class="text-sm font-normal">: {{ size.value }} / {{ getPixelValue(size.value) }}px</span></span>
      <span class="text-xs font-normal">--{{ size.name }}</span>
    </div>
  </li>
</ul>
