<div
  class=""
  [ngClass]="{
    'stw-toc-horizontal': layout === 'horizontal',
    'stw-toc-vertical': layout === 'vertical'
  }"
>
  <div class="text-ellipsis overflow-hidden whitespace-nowrap font-medium mb-3">{{ tocTitle?.title }}</div>
  <ul class="stw-toc-list">
    <li
      *ngFor="let item of fragments"
      class="stw-toc-list-item"
      [ngClass]="{ 'pl-2 px-1': item.name === 'H3' && layout === 'vertical' }"
    >
      <a
        [routerLink]="'.'"
        [fragment]="item.fragment"
        attr.data-toc-id="{{item.fragment}}"
        title="{{ item.title }}"
        [ngClass]="{
          'stw-toc-item-link-active':
            (activeFragment$ | async) === item.fragment,
          '': false
        }"
        class="stw-toc-item-link"
      >
        {{ item.title }}
      </a>
    </li>
  </ul>
</div>
