<ul class="space-y-1 text-sm overflow-x-hidden overflow-y-auto">
  <li
    *ngFor="let item of fragments"
    [ngClass]="{'pl-2' : item.name === 'H3'}">
    <a
      href="#{{item.fragment}}"
      (click)="scrollIntoView(item)"
      [ngClass]="{'bg-primary-500 text-gray-100' : (activeFragment$ | async) === item.fragment, 'text-primary-500 bg-gray-100' : false}"
      class="font-normal transition-colors duration-200 block hover:font-normal hover:text-gray-100 hover:bg-primary-500 hover:bg-opacity-80 px-1 first-letter:uppercase">
      {{ item.title }}
    </a>
  </li>
</ul>
