@import "./assets/styles/tokens.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-700;

    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
  }

  *, ::before, ::after {
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
  }


  a {
    @apply text-primary-700;

    &:hover {
      @apply text-primary-500;
    }
  }

  h1 {
    @apply uppercase text-primary-700 text-4xl;
  }

  h2 {
    @apply uppercase text-2xl font-medium text-primary-700;
  }
}
