@import "./assets/styles/tokens.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-700;

    font-size: 16px;
    @apply font-sans;
  }

  *, ::before, ::after {
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
  }


  a {
    @apply text-primary-500 font-medium transition-colors;

    &:hover {
      @apply text-primary-600 font-medium;
    }
  }

  h1 {
    @apply uppercase text-primary-500 font-medium text-4xl tracking-wider;
  }

  h2 {
    @apply uppercase text-2xl text-primary-500 tracking-wide;
  }

  h3 {
    @apply uppercase text-xl text-primary-500 tracking-wide;
  }
}
